{# <!-- Choosing cover image --> #}
{% if HEADER_COVER %}
  {% set default_cover = SITEURL+"/"+HEADER_COVER %}
{% else %}
  {% set default_cover = SITEURL+"/"+THEME_STATIC_DIR+"/images/home-bg.jpg" %}
{% endif %}

{# <!-- Choosing description --> #}
{% if SITESUBTITLE %}
    {% set description = SITESUBTITLE %}
{% else %}
    {% set description = 'View the blog.' %}
{% endif %}
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Website",
  "name": " {{ SITENAME }} ",
  "url" : "{{ SITEURL }}/",
  "image": "{{ default_cover }}",
  "description": "{{ description }}"
}
</script>
