    <div class="extra-pagination">
        {% include "partials/pagination.html" %}
    </div>

    {% for article in articles_page.object_list %}

        {% set primary_tag=None %}
        {% if article.category %}
            {% set primary_tag=article.category %}
        {% elif article.tags %}
            {% set primary_tag=article.tags[0] %}
        {% endif %}

    <article class="post">
        <div class="inner">
            <div class="box post-box">
                <h2 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </h2>
                <span class="post-meta">
                    {{ "By " }}
                    {% for author in article.authors %}
                        {% set author_name = author.name | title %}
                        {% if AUTHOR_META and author.name.lower() in AUTHOR_META %}
                            {% set author_name = AUTHOR_META[author.name.lower()].name or author.name %}
                        {% endif %}
                        <a class="post-meta-tag" href="{{ SITEURL }}/{{ author.url }}">{{ author_name }}</a>
                    {% endfor %}
                    {% if primary_tag %}
                    {{ " in " }}
                    <a class="post-meta-tag" href="{{ SITEURL }}/{{ primary_tag.url }}">{{ primary_tag | title }}</a>
                    {% endif %}
                     {{ " on " }}<time datetime="{{ article.locale_date }}">{{ article.locale_date }}</time>
                </span>
            {% if SHOW_FULL_ARTICLE_IN_SUMMARY|default(False) %}
                <section class="post-content">
                {{ article.content }}
                </section>
            {% else %}
                <p class="post-excerpt">
                    {% if article.has_summary %}
                        {{ article.summary }}
                    {% elif article.summary %}
                        {{ article.summary|striptags|truncate(250) }}
                    {% endif %}
                </p>
            {% endif %}

                {% if SHOW_COMMENTS_COUNT_IN_ARTICLE_SUMMARY|default(True) or SHOW_TAGS_IN_ARTICLE_SUMMARY|default(False) %}
                <div class="post-excerpt">
                    {% if SHOW_COMMENTS_COUNT_IN_ARTICLE_SUMMARY|default(True) %}
                    {% include 'partials/comments_count.html' %}
                    {% endif %}

                    {% if SHOW_TAGS_IN_ARTICLE_SUMMARY|default(False) %}
                    {% if article.tags %}
                    <aside class="post-tags">
                    {% for tag in article.tags[0:3] %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>{% if not loop.last %}{% endif %}{% endfor %}
                    </aside>
                    {% endif %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </article>
    {% endfor %}

    {% include "partials/pagination.html" %}
