{% if DEFAULT_PAGINATION %}
<nav class="pagination" aria-label="Pagination" role="pagination">
  <div class="inner">
    <div class="box pagination-box">
      {% if articles_page.has_previous() %}
      <a title="Newer Posts" class="pagination-next" href="{{ SITEURL }}/{{ articles_previous_page.url }}"><i class="icon icon-arrow-left"></i> <span class="pagination-label">Newer Posts</span></a>
      {% endif %}
      <span class="pagination-info">Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</span>
      {% if articles_page.has_next() %}
      <a title="Older Posts" class="pagination-prev" href="{{ SITEURL }}/{{ articles_next_page.url }}"><span class="pagination-label">Older Posts</span> <i class="icon icon-arrow-right"></i></a>
      {% endif %}
    </div>
  </div>
</nav>
{% endif %}
