{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Articles by {{ author_name }}{% endblock %}

<!-- To support both image in relative path and url  -->
{% set author_name = author.name | title  %}
{% if AUTHOR_META and author.name.lower() in AUTHOR_META %}
  {% set author_avatar = AUTHOR_META[author.name.lower()].image %}
  {% if author_avatar %}
    {% if author_avatar|lower|truncate(4, True, '') == "http" %}
      {% set selected_avatar = author_avatar %}
    {% else %}
      {% set selected_avatar = SITEURL+"/"+author_avatar %}
    {% endif %}
  {% endif %}

  {% set author_cover = AUTHOR_META[author.name.lower()].cover %}
  {% set author_color = AUTHOR_META[author.name.lower()].color %}
  {% if author_cover %}
    {% if author_cover|lower|truncate(4, True, '') == "http" %}
      {% set selected_cover = author_cover %}
    {% else %}
      {% set selected_cover = SITEURL+"/"+author_cover %}
    {% endif %}
  {% elif author_color %}
    {% set selected_color = author_color %}
  {% endif %}

  {% set author_name = AUTHOR_META[author.name.lower()].name or author.name %}
{% elif HEADER_COVER %}
  {% if HEADER_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HEADER_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HEADER_COVER %}
  {% endif %}
{% elif HOME_COVER %}
  {% if HOME_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HOME_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HOME_COVER %}
  {% endif %}
{% elif HEADER_COLOR %}
  {% set selected_color = HEADER_COLOR %}
{% endif %}

{% block canonical_url %}<link href="{{ SITEURL }}/{{author.url}}" rel="canonical" />{% endblock canonical_url %}

{% block opengraph %}
    {{ super() }}
    <meta property="og:title" content="{{ SITENAME }} - Articles by {{ author }}">
    <meta property="og:type" content="profile">
    <meta property="profile:first_name" content="{{ author.name.split(' ')[0] }}">
    <meta property="profile:last_name" content="{{ author.name.split(' ')[1:]|join(' ') }}">
    <meta property="profile:username" content="{{ author.slug }}">
{% endblock opengraph %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="blog-header {% if selected_cover or selected_color %} has-cover{% endif %}">
      <div class="inner">
        <div class="archive archive-author box archive-box">
          <span class="archive-info">
            <span class="archive-type">{{"Author"}}</span>
            <span class="archive-count">{{ articles|count }} {% if articles|count > 1 %} posts {% else %} post {% endif %}</span>
          </span>
          <figure class="archive-avatar avatar">
            {% if selected_avatar %}
              <img src="{{selected_avatar}}" alt="{{author_name}}" />
            {% endif %}
          </figure>
          <h2 class="archive-title">{{author_name}}</h2>
          {% if AUTHOR_META and AUTHOR_META[author.name.lower()] and AUTHOR_META[author.name.lower()].bio %}
          <span class="archive-description">{{AUTHOR_META[author.name.lower()].bio}}</span>
          {% endif %}
          <span class="archive-links">
          {% if AUTHOR_META and AUTHOR_META[author.name.lower()] and AUTHOR_META[author.name.lower()].location %}
              <a href="#{{AUTHOR_META[author.name.lower()].location}}" title="{{AUTHOR_META[author.name.lower()].location}}"><i class="icon icon-location"></i><span>{{AUTHOR_META[author.name.lower()].location}}</span></a>
          {% endif %}
          {% if AUTHOR_META and AUTHOR_META[author.name.lower()] and AUTHOR_META[author.name.lower()].website %}
              <a target="_blank" href="{{AUTHOR_META[author.name.lower()].website}}"><i class="icon icon-globe"></i><span>Website</span></a>
          {% endif %}
          <!-- Social linkes in alphabet order. -->
          {% if AUTHOR_META and AUTHOR_META[author.name.lower()] and AUTHOR_META[author.name.lower()].facebook %}
              <a target="_blank" href="https://facebook.com/{{AUTHOR_META[author.name.lower()].facebook}}"><i class="icon icon-facebook"></i><span>Facebook</span></a>
          {% endif %}
          {% if AUTHOR_META and AUTHOR_META[author.name.lower()] and AUTHOR_META[author.name.lower()].github %}
              <a target="_blank" href="https://github.com/{{AUTHOR_META[author.name.lower()].github}}"><i class="icon icon-github"></i><span>GitHub</span></a>
          {% endif %}
          {% if AUTHOR_META and AUTHOR_META[author.name.lower()] and AUTHOR_META[author.name.lower()].linkedin %}
              <a target="_blank" href="https://www.linkedin.com/in/{{AUTHOR_META[author.name.lower()].linkedin}}"><i class="icon icon-linkedin"></i><span>LinkedIn</span></a>
          {% endif %}
          {% if AUTHOR_META and AUTHOR_META[author.name.lower()] and AUTHOR_META[author.name.lower()].twitter %}
              <a target="_blank" href="https://twitter.com/{{AUTHOR_META[author.name.lower()].twitter}}"><i class="icon icon-twitter"></i><span>Twitter</span></a>
          {% endif %}
          {% if AUTHOR_META and AUTHOR_META[author.name.lower()] and AUTHOR_META[author.name.lower()].instagram %}
              <a target="_blank" href="https://instagram.com/{{AUTHOR_META[author.name.lower()].instagram}}"><i class="icon icon-instagram"></i><span>Instagram</span></a>
          {% endif %}
          </span>
        </div>
        {% if selected_cover %}
          <div class="blog-cover cover">
            <img src="{{ selected_cover }}" alt="{{ current_title }}" />
          </div>
        {% elif selected_color %}
          <div class="blog-cover cover" style="background-color: {{ selected_color }}"></div>
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}
