{% if categories %}
{% set body_class='categories-template' %}
{% set current_url=CATEGORIES_URL %}
{% set current_title=SITENAME+' - Categories' %}
{% set current_display_title='Categories' %}
{% endif %}

{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% if HEADER_COVER %}
  {% if HEADER_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HEADER_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HEADER_COVER %}
  {% endif %}
{% elif HOME_COVER %}
  {% if HOME_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HOME_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HOME_COVER %}
  {% endif %}
{% elif HEADER_COLOR %}
  {% set selected_color = HEADER_COLOR %}
{% endif %}

{% block canonical_url %}<link href="{{ SITEURL }}/{{ CATEGORIES_URL }}" rel="canonical" />{% endblock canonical_url %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="blog-header {% if selected_cover or selected_color %} has-cover {% endif %}">
      <div class="inner">
        <h1 class="post-title">{{ current_display_title }}</h1>
        {% if selected_cover %}
          <div class="post-cover cover">
            <img src="{{ selected_cover }}" alt="{{ current_title }}" />
          </div>
        {% elif selected_color %}
          <div class="post-cover cover" style="background-color: {{ selected_color }}">
        {% endif %}
    </header>
{% endblock header %}

{% block content %}
  {% for category, articles in categories |sort %}
  <!-- style="padding-top: 2.0em; font-size: 1.66em;" -->
    <article class="post">
      <div class="inner">
        <div class="archive">
          <div class="archive-links">
            <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})
          </div>
        </div>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
