{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tag {{ tag }}{% endblock %}

{# <!-- Choosing cover image --> #}


{% set tag_cover = None %}
{% set tag_description = None %}
{% if TAG_META and TAG_META[tag.name.lower()] %}
  {% set tag_cover = TAG_META[tag.name.lower()].cover %}
  {% set tag_color = TAG_META[tag.name.lower()].color %}
  {% set tag_description = TAG_META[tag.name.lower()].description %}
{% endif %}

{% if tag_cover %}
  {% if tag_cover|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = tag_cover %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+tag_cover %}
  {% endif %}
{% elif tag_color %}
  {% set selected_color = tag_color %}
{% elif HEADER_COVER %}
  {% if HEADER_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HEADER_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HEADER_COVER %}
  {% endif %}
{% elif HOME_COVER %}
  {% if HOME_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HOME_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HOME_COVER %}
  {% endif %}
{% elif HEADER_COLOR %}
  {% set selected_color = HEADER_COLOR %}
{% endif %}

{% block canonical_url %}<link href="{{ SITEURL }}/{{tag.url}}" rel="canonical" />{% endblock canonical_url %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="blog-header {% if selected_cover or selected_color %} has-cover {% endif %}">
      <div class="inner">
        <div class="archive archive-tag box archive-box">
          <span class="archive-info">
            <span class="archive-type">{{"Tag"}}</span>
            <span class="archive-count">
            {% if articles|count == 1 %}
            {{ articles|count }} Post
            {% else %}
            {{ articles|count }} Posts
            {% endif %}
            </span>
          </span>
          <h2 class="archive-title">{{tag.name | title}}</h2>
          {% if tag_description %}
            <span class="archive-description">{{tag_description}}</span>
          {% endif %}
        </div>

        {% if selected_cover %}
          <div class="blog-cover cover">
            <img src="{{ selected_cover }}" alt="{{ current_title }}" />
          </div>
        {% elif selected_color %}
          <div class="blog-cover cover" style="background-color: {{ selected_color }}">
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/loop.html" %}
  </main>
</div>
{% endblock content %}
